.menu-header {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  margin-top: -4px;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px gray;
  &-list {
    max-width: 1200px;
    min-height: 62px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-category {
      width: fit-content;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }
      & a {
        display: block;
        padding: 20px 14px;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        position: relative;
        background-color: transparent;
        z-index: 0;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 120%;
          z-index: -1;
          border: solid white;
          border-width: 0 6px 6px 0;
          display: inline-block;
          padding: 4px;
          transform: translateX(-50%) rotate(45deg);
          -webkit-transform: translateX(-50%) rotate(45deg);
          transition: 0.5s;
        }
        &:hover {
          &::after {
            bottom: 4px;
          }
        }
      }
    }
  }
  &-select {
    display: block;
    margin-left: 20px;
    padding: 0 8px;
    outline: none;
    border: 0;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    // color: white;
    cursor: pointer;

    &-option {
      cursor: pointer;
      height: 40px;
      background-color: var(--primary-color);
      color: white;
      &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }
    }
  }
}
.fix-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
