.product-load {
  width: 100%;
  text-align: center;
  & button {
    width: 80%;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    background-color: white;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
}
